<header id="header">
  <a href="<%- url_for("/") %>">
  <% if (theme.logo && theme.logo.enabled) { %>
    <% if (theme.gravatar && theme.gravatar.email && theme.logo.gravatar) { %>
      <div id="logo" style="background-image: url(<%- gravatar(theme.gravatar.email) %>);"></div>
    <% } else { %>
      <div id="logo" style="background-image: url(<%- url_for(theme.logo.url) %>);"></div>
    <% } %>
  <% } %>
  <div style="float:right;margin-top:-30px;font-size:25px">
    <% for (var i in theme.social_links) { %>
      <a href="<%- theme.social_links[i] %>"><span class="fab fa-<%= i %>"></span></a>
    <% } %>
    <a href="mailto:oxygen@protofy.xyz"><span class="fas fa-envelope"></span></a>
  </div>
    <div id="title">
      <h1><%= config.title %>

      </h1>
    </div>
  </a>
  <div id="nav">
    <ul style="float:right">
      <br/>
      <li>
        <a href="/">en</a>
      </li>
      <li>
        <a href="/es">es</a>
      </li>
      <li>
        <a href="/fr">fr</a>
      </li>
      <li>
        <a href="/de">de</a>
      </li>
    </ul>
    <ul>
      <li class="icon">
        <a href="#"><i class="fas fa-bars fa-2x"></i></a>
      </li>
      <% for (var i in theme.nav) { %>
        <li><a href="<%- url_for(theme.nav[i]) %>"><%= __('nav.'+i).replace("nav.", "") %></a></li>
      <% } %>
    </ul>


  </div>
</header>
